html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.form {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.form .form-submit {
  background-color: #007bff;
  border: #007bff;
  padding: 10px 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.chart-container {
  width: 800px;
  height: 500;
  margin: auto;
  margin-top: 20px;
  overflow: hidden;
}
